### IntelliJ IDEA ###
.idea/
.idea/**/compiler.xml
.idea/**/gradle.xml
.idea/**/jarRepositories.xml
.idea/**/kotlinc.xml
.idea/**/misc.xml
.idea/**/vcs.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
